:root {
    --input: linear-gradient(to bottom,#ccffffff, #00ffffff);
}

span{
    position: absolute;
    left: 50%;
    top:50%;

    opacity: 1;
}

@keyframes transit{
    0% {
        background-position: 0% 0%;
        opacity: 1;
    }
    100% {
        background-position: 0% 100%;
        opacity: 0;
    }

}
svg{
    height:1em;
    width:1em;
    overflow: visible;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    
}
svg text {

    
    letter-spacing:0;
    stroke: #ffa5d8;
    font-size: 128px;
    stroke-width: 1;
    height:1em;
    
}
path:nth-child(n) {
    transform: translateX(calc(var(--index) * 200%));
}
text{
    overflow: visible;
    height: 1em;
    display: inline-block;
}


@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 400%;
        stroke-dashoffset: 100%;
        fill-opacity: 1;
    }

    50% {
        stroke-dasharray: 400% 0;
        stroke-dashoffset: -100%;
        fill-opacity: 0;
    }

    100% {
        stroke-dasharray: 0 350%;
        fill-opacity:0;
    }
} 